<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Age and Gender Detection</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="/static/style.css">

</head>

<body>
  <header class="header">
    <a href="#" class="logo">Team 533</a>
    <nav class="nav-items">
      <a href="/index">Predict</a>
    </nav>
  </header>
  <main>
    <div class="intro">
      <h1>Age and Gender Detection using Deep Learning</h1>
      <p>Deep Learning has found huge applications in the fields of Computer vision.
        Some of the most important applications of computer vision are in the fields that deal with facial data.
        Face Detection and recognition are being widely used in security-based applications. </p>
      <p> In this project, we are going to talk about two of the most important applications of face using
        deep learning, age and gender prediction from a facial image.</p>
    </div>
    <!--<div class="achievements">
      <div class="work">
        <i class="fas fa-atom"></i>
        <p class="work-heading">Projects</p>
        <p class="work-text">I have worked on many projects and I am very proud of them. I am a very good developer and I am always looking for new projects.</p>
      </div>
      <div class="work">
        <i class="fas fa-skiing"></i>
        <p class="work-heading">Skills</p>
        <p class="work-text">I have a lot of skills and I am very good at them. I am very good at programming and I am always looking for new skills.</p>
      </div>
      <div class="work">
        <i class="fas fa-ethernet"></i>
        <p class="work-heading">Network</p>
        <p class="work-text">I have a lot of network skills and I am very good at them. I am very good at networking and I am always looking for new network skills.</p>
      </div>
    </div>
    <div class="about-me">
      <div class="about-me-text">
        <h2>About Us</h2>
        <p>Team Members:
            <li style="f">Shruti Goyal</li>
            <ul>Lokesh </ul>
            <ul>Rohith</ul>
            <ul>Jeeva </ul>
        </p>
      </div>
      <img src="https://images.unsplash.com/photo-1596495578065-6e0763fa1178?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80" alt="me">
    </div>-->
    <div class="about-section">
        <h1>About Us </h1>
      <div class="row">
        <div class="column">
            <div class="card">
              <img src="team1.jpg" alt="Shruti Goyal" style="width:100%">
              <div class="container">
                <h2>Shruti </h2>
                <p class="title">20MIC0059</p>

                <p>shrutixxxxxxxxxx@vitstudent.ac.in</p>
                <p><button class="button">Contact</button></p>
              </div>
            </div>
          </div>

        <div class="column">
            <div class="card">
              <img src="team2.jpg" alt="Jeeva" style="width:100%">
              <div class="container">
                <h2>Jeeva</h2>
                <p class="title">20MIS0027</p>

                <p>jeevaxxxxxxxxxx@vitstudent.ac.in</p>
                <p><button class="button">Contact</button></p>
              </div>
            </div>
          </div>

        <div class="column">
            <div class="card">
              <img src="team3.jpg" alt="Lokesh" style="width:100%">
              <div class="container">
                <h2>Lokesh</h2>
                <p class="title">20MIS0052</p>
                <p>lokeshxxxxxxxxxx@vitstudent.ac.in</p>
                <p><button class="button">Contact</button></p>
              </div>
            </div>
          </div>

        <div class="column">
          <div class="card">
            <img src="team4.jpg" alt="Rohith" style="width:100%">
            <div class="container">
              <h2>Rohith</h2>
              <p class="title">20MIS0324</p>

              <p>rohithxxxxxxxxxx@vitstudent.ac.in</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer class="footer">
    <div class="copy">&copy; SmartInternz Externship Project</div>
    <div class="bottom-links">
      <div class="links">
        <span>More Info</span>
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
      </div>
      <div class="links">
        <span>Social Links</span>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </footer>
</body>

</html>